<div class="top">
    <h1><img alt="" src="//m.ieduchina.com/topic/2024/hk5/images/f84aa037.png?t=2808c713" height="48"></h1>
    <div class="top-right"><span>往期回顾</span></div>
    <div class="menu_mask">
        <div class="con">
            <div class="title">往期回顾</div><i class="close2808c713"></i>
            <ul>
                <li>
                    <a href="//www.ieduchina.com/topic/2025/hk12/" title="香港教育文化之旅" class="active"
                        target="_blank">25年01月:中华基金中学、迦密爱礼信中学等7所学校</a>
                    <a href="//www.ieduchina.com/topic/2025/hkyy10/" target="_blank"
                    title="香港教育文化之旅">25年01月:汇基书院（东九龙）等6所学校</a>
                    <a href="//www.ieduchina.com/topic/2024/hk11/" target="_blank"
                    title="香港教育文化之旅">24年12月:元朗邓英业小学等5所学校</a>
                        <!-- 24年12月台山商会学校、大埔浸信会幼稚园等5所学校 -->
                    <a href="//www.ieduchina.com/topic/2024/hk8/" target="_blank"
                        title="香港教育文化之旅">24年12月:中华基督教会铭基书院等4所学校</a>
                    <a href="//www.ieduchina.com/topic/2024/hk7/" target="_blank" title="香港教育文化之旅">24年10月:香岛中学等9所学校</a>
                    <a href="//www.ieduchina.com/topic/2024/hkyx1/" title="香港英文中学暑期访校研学营"
                        target="_blank">24年07月:孔圣堂礼仁书院等5所本地学校(访校研学)</a>
                    <a href="//www.ieduchina.com/topic/2024/hk6/" target="_blank"
                        title="香港教育文化之旅">24年07月:汇基书院（东九龙）、播道书院等4所学校</a>
                    <a href="//www.ieduchina.com/topic/2024/hk5/" target="_blank" title="香港教育文化之旅">24年05月:沙田培英等15所学校</a>
                    <a href="//www.ieduchina.com/topic/2024/hk4/" target="_blank"
                        title="香港教育文化之旅">24年01月:香港UWC、播道书院等8所学校</a>
                    <a href="//www.ieduchina.com/topic/2023/hk3/" target="_blank"
                        title="香港教育文化之旅">23年12月:中华基督教会协和书院等6所学校+教育展</a>
                    <a href="//www.ieduchina.com/topic/2023/xg/" target="_blank"
                        title="香港教育文化之旅">23年10月:保良局百周年李兆忠纪念中学等6所学校</a>
                    <a href="//www.ieduchina.com/topic/2023/hk/" target="_blank"
                        title="香港教育文化之旅">23年07月:圣保禄学校、英华书院等10所学校</a>
                </li>
            </ul>
        </div>
    </div>
</div>